{% extends 'base.html' %}

{% block title %}Listado de Generos{% endblock %}

{% block content %}
<section class="list_section">
    <h1>Listado de Generos</h1>
    <div class="table_container">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for genre in genres %}
                    <tr>
                        <td>{{ genre.nombre }}</td>
                        <td>
                            <a href="{% url 'update_genre' genre.id %}">Editar</a>
                            <a href="{% url 'delete_genre' genre.id %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'new_genre' %}">Agregar Genero</a>
    <a href="/">Volver a la pagina principal</a>
</section>
{% endblock %}
