{% extends 'base.html' %}

{% block title %}Eliminar Desarrollador{% endblock %}

{% block content %}
<section class="form_section">
    <h1>Eliminar Desarrollador</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_nombre">Nombre</label>
            <input type="text" name="nombre" value="{{ developer_form.nombre }}" readonly>
        </div>
        <div>
            <label for="id_pais">Pais</label>
            <input type="text" name="pais" value="{{ developer_form.pais }}" readonly>
        </div>
        <button type="submit">Eliminar</button>
    </form>
</section>
{% endblock %}
