{% extends 'base.html' %}

{% block title %}Listado de Desarrolladores{% endblock %}

{% block content %}
<section class="list_section">
    <h1>Listado de Desarrolladores</h1>
    <div class="table_container">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Pais</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for developer in developers %}
                    <tr>
                        <td>{{ developer.nombre }}</td>
                        <td>{{ developer.pais }}</td>
                        <td>
                            <a href="{% url 'update_developer' developer.id %}">Editar</a>
                            <a href="{% url 'delete_developer' developer.id %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'new_developer' %}">Agregar Desarrollador</a>
    <a href="/">Volver a la pagina principal</a>
</section>
{% endblock %}
