{% extends 'base.html' %}

{% block title %}Catalogo de Juegos{% endblock %}

{% block content %}
<section class="catalog_section">
    <h1>Catálogo de Juegos</h1>

    {% if juegos %}
    <div class="game_grid">
        {% for juego in juegos %}
            <div class="game_card">
                <div class="game_card_image">
                    <img src="{{ juego.img_url }}" alt="{{ juego.titulo }}">
                </div>
                <div class="game_card_content">
                    <h3>
                        {{ juego.titulo }}
                    </h3>
                    <div class="game_card_platforms">
                        {% for plataforma in juego.plataforma.all %}
                            <img src="{{ plataforma.img_url }}" alt="{{ plataforma.nombre }}">
                        {% endfor %}
                    </div>
                    <p class="game_card_developer">
                        {{ juego.desarrollador.nombre }} - {{ juego.desarrollador.pais }}
                    </p>
                    <p class="game_card_description">
                        {{ juego.descripcion }}
                    </p>
                    <div class="game_card_genres">
                        {% for genero in juego.genero.all %}
                            <span>
                                {{ genero.nombre }}
                            </span>
                        {% endfor %}
                    </div>
                    <span class="game_card_release_date">
                        Lanzado el: {{ juego.fecha_lanzamiento }}
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p style="color: #ffffff; font-size: 1.5rem; text-align: center; margin-top: 2rem;">
        No hay juegos disponibles
    </p>
    {% endif %}
</section>
{% endblock %}
